<!DOCTYPE html>
<html>
<head>
  <title>Loop Example</title>
</head>
<body>
  <h1>Printing "Hello World" 10 times:</h1>

  <ul>
    <% for(let i = 1; i <= count; i++) { %>
      <li>Hello World (<%= i %>)</li>
    <% } %>
  </ul>
</body>
</html>
